.content_3 {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: white;
}

.info {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.info img,
.fav_music img {
    border-radius: 5px;
}

.info button {
    background-color: transparent;
    border: none;
    border: 2px solid rgb(13, 146, 244);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.music_name {
    font-size: 1.2rem;
    color: black;
}

.music_artist {
    color: black;
}

.interactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 100px auto 100px;
}

.interactive_button {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.interactive_button button {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(13, 146, 244);
}

.play_pause {
    width: 40px;
    height: 40px;
}

.suffle,
.backward,
.forward,
.loop {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.slider {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.music_slider {
    width: 100%;
    height: 3px;
}

.slider span {
    color: black;
    font-size: 1rem;
}

.volume {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    gap: 10px;
}

.volume_slider {
    height: 3px;
}