body {
    background-color: white;
    margin: 0;
    overflow-y: auto;
}

.top_img {
    margin: auto;
}

.login_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_page button {
    margin: 5px 0 5px 0;
    height: 50px;
    background-color: white;
    border-radius: 100rem;
}

.login_page input {
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.login_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.logintitle {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0 20px 0;
}

.LoginWithGoogle,
.LoginWithFacebook,
.LoginWithApple {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(150, 150, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.LoginWithPhoneNumber {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(150, 150, 150);
}

.LoginWithGoogle img,
.LoginWithFacebook img,
.LoginWithApple img {
    width: 20px;
    height: 20px;
    left: 20px;
    position: absolute;
}

.LoginWithGoogle:hover,
.LoginWithFacebook:hover,
.LoginWithApple:hover,
.LoginWithPhoneNumber:hover {
    border:  2px solid rgb(35, 35, 35);
}

.hr {
    border: 1px solid black;
    margin: 10px 0 10px;
}

.emailorusername,
.password {
    font-size: 0.8rem;
    margin: 10px 0 10px 0;
}

.login {
    background-color: rgb(13, 146, 244) !important;
    color: white;
    margin: 20px 0 20px 0 !important;
}

.login:hover {
    background-color: blue !important;
}

.forgotpassword {
    text-align: center;
    font-size: 1rem;
    margin: 5px 0 5px 0;
}

.logintosignup {
    font-size: 1rem;
    text-align: center;
}

.logintosignup u {
    color: black;
}