.search-container{
    background-color: white;
    width: 80%;
    margin: 6rem auto 0 auto;
    overflow: scroll;
    height: 70vh;
    border-radius: 2rem;
    box-shadow: 0 8px 16px 0 rgba(1,18,34,.04);
}